### Set up environmental variables ###
# Multiple GPUs on Master; N Workers are to be preemptible

export PROJECT_NAME=audio-detection
export PROJECT_ID=audio-detection-1 # project_id needs to be updated here for new projects
export CLUSTER_NAME=ad-cluster

export BUCKET_NAME=ad-bucket-15730 # needs to be updated here for new projects
export BUCKET_SA=ad-bucket-sa

export REGION=asia-east1
# for autozone placement

export MASTER_MCHN_TYPE=n1-highmem-4
export NUM_MASTERS=1
export MASTER_SD_SIZE=500GB
export MASTER_ACCELERATOR_TYPE=nvidia-tesla-k80
export MASTER_ACCELERATOR_COUNT=1
export WORKER_MCHN_TYPE=n1-standard-1
export NUM_WORKERS=2
export WORKER_SD_SIZE=50GB
export MAX_AUTOSCALE_NODES=20

export IMAGE_VERSION=1.4-ubuntu18

export PYTHON_VERSION=3.7
export SPARK_VERSION=2.4.4
export HADOOP_VERSION=2.7

